.filter-container {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.filter-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
