.footer {
  background-color: #512da8;
  color: white;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}
